html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 29px;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

// SCROLLBAR STYLE
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ababfa;
}

::-webkit-scrollbar-thumb {
  background: #111131;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1b4d;
}
